# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
explicit_defaults_for_timestamp=true
innodb_use_native_aio=0

# *** log config***
slow_query_log
long_query_time		= 5

# log-slow-queries	= /var/log/mysql/mysql-slow.log
slow-query-log-file	= /var/log/mysql/mysql-slow.log # 5.6+

log-queries-not-using_indexes